<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styleCategory.css" th:href="@{/css/styleCategory.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/styleNavbar.css" th:href="@{/css/styleNavbar.css}">
</head>
<body>
<th:block th:replace="fragments/navbar :: nav"/>
<form th:action="@{/admin/addCategory}" method="post" th:object="${category}">
    <label>Enter category</label><br>
    <input type="text" th:field="*{name}" required maxlength="40"><br>
    <button class="add" type="submit" value="Add">Add</button>
    <a class="home" th:href="@{main}">Back home</a>
</form>
</body>
</html>