<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{admin/reservation}" method="post">
    <table th:each="reservation : ${reservations}">
        <thead>
        <tr>
            <th>Name user</th>
            <th>Surname user</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Date & Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${reservation.user.name}"></td>
            <td th:text="${reservation.user.surname}"></td>
            <td th:text="${reservation.subCategory.name}"></td>
            <td th:text="${#temporals.format(reservation.dateTime, 'yyyy-MM-dd h:mm')}"></td>
            <td><a th:href="@{reservation/{reservationId} (reservationId = ${reservation.id})}">Accept</a></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>