<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" media="screen" th:href="@{/css/StaticReservationForm.css}"
          href="../static/css/StaticReservationForm.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
</head>


<body>


<hgroup class="welcome">
    <h1>Salon Kosmetyczny "Nowa WySpa"</h1>
    <h2><span>Wasze piękno jest</span> naszą pasją</h2>
    <h3>Rezerwacja online</h3>

</hgroup>

<div class="listaRezerwacji">
    <form th:action="@{/reservation/addReservation}" method="post" th:object="${reservation}">
        <label class="control-label">
            <select th:field="*{subCategory}">
                <optgroup th:each="category : ${categoryList}" th:label="${category.name}">
                    <option th:each="subcategory : ${category.subCategoryList}" th:value="${subcategory.id}"
                            th:text="${subcategory.name}"></option>
                </optgroup>
            </select>
        </label>


        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' th:field="*{dateTime}" class="form-control"/>
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" value="Zarezerwuj">Zarezerwuj</button>
    </form>
</div>
<footer>Salon kosmetyczny Nowa
    WySPA, project Vlad, Dawid, Andrzej &copy;
</footer>
</body>

</html>