<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacja</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet"
          type="text/css"/>
    <link
            href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css"
            rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script
            src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js">
    </script>
    <link rel="stylesheet" media="screen" th:href="@{/css/StaticReservationForm.css}"
          href="../static/css/StaticReservationForm.css" type="text/css">

</head>


<body>
<div id="container">
    <header>

        <hgroup class="welcome">
            <h1>Salon Kosmetyczny "Nowa WySpa"</h1>
            <h2><span>Wasze piękno jest</span> naszą pasją</h2>
            <h3>Rezerwacja online</h3>

        </hgroup>
    </header>
    <div class="nav">
        <ol>
            <li><a href="/templates/index.html">Strona główna</a></li>

        </ol>

    </div>
    <div class="listaRezerwacji">
        <form th:action="@{/reservation/addReservation}" method="post" th:object="${reservation}">
            <label class="control-label">
                <select th:field="*{subCategory}">
                    <optgroup th:each="category : ${categoryList}" th:label="${category.name}">
                        <option th:each="subcategory : ${category.subCategoryList}" th:value="${subcategory.id}"
                                th:text="${subcategory.name}"></option>
                    </optgroup>
                </select>
            </label>


            <div class="clendar">

                <div class="ui calendar" id="example14">
                </div>
                <br />
            </div>


            <button type="submit" value="Zarezerwuj">Zarezerwuj</button>
        </form>
    </div>

</div>
<footer>Salon kosmetyczny Nowa
    WySPA, project Vlad, Dawid, Andrzej &copy;
</footer>

</body>
<script>
    $('#example14').calendar({

    });
</script>

</html>