* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {

    content: "";
    display: block;
    clear: both;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


body {
    width: 100%;
    background-image: url(../images/tlo2.jpg);
    font-family: 'Fira Sans', sans-serif;
    padding-top: 30px;
    color: white;
    text-align: center;
}



header {
    height: 22vh;
    position: relative;
    overflow-x: hidden;
    font-family: 'Saira Condensed',
    sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    max-width: 1920px;
    margin: 0 auto;


}

hgroup h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font: 2em sans-serif;
    text-align: center;
}

hgroup h2 {
    color: white;
    font: 32px sans-serif;
    text-align: center;
}

hgroup h3 {
    color: white;
    font: 28px sans-serif;
    text-align: center;
}

header hgroup {
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 4.5%;
    left: 23%;
    text-transform: uppercase;
    color: red;
}

.nav {
    width: 100%;
    padding: 10px 0;
    background-color: cornflowerblue;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: black;
    text-decoration: none;
    display: block;
}

ol>li {
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed gray;
    margin-right: auto;
    margin-left: auto;
}

ol>li:first-child {
    border-left: 1px dashed gray;
}

ol>li:hover {
    background-color: lightgray;
}

ol>li:hover>a {
    color: #451717;
}

ol>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul>li {
    background-color: #cf6969;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
}

ol>li>ul>li:hover {
    background-color: #c34f4f;
}

ol>li>ul>li:hover>a {
    color: #451717;
}

.control-label {
    position: relative;
    right: -35%;
    top: 35%;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    margin-right: 20%;
}

select {
    position: relative;
    right: 10px;
    height: 30px;
    width: 30rem;
    top: 31px;
    color: black;

}

form {
    margin-top: 20px;
    height: 64vh;
}

form button {
    position: absolute;
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    color: white;
    font-size: 17px;
    text-align: center;
    text-decoration: none;

    background: -webkit-gradient(linear, left top, left bottom,
    from(#b9c5dd),
    to(#a5b1ce));

    border-radius: 5px;
    display: table;
    position: static;
    clear: both;
}

button:hover {
    color: red;
    cursor: pointer;
}


footer {
    bottom: 0px;
    right: 0px;
    background-color: #29a6dc;
    color: white;
    font-family: saira, sans-serif;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 20px;
}

.ui container {
    width: 50%;
}

.calendar {
    width: 80rem;
    margin-left: 30px;
}