<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">

<head>
    <meta charset="utf-8">
    <title>Salon kosmetyczny Nowa WySpa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:400,700|Saira:300,400&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <link rel="stylesheet" media="screen" th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">

</head>

<body>
<header>

    <hgroup class="welcome">
        <h1>Salon Kosmetyczny "Nowa WySpa"</h1>
        <h2><span>Wasze piękno jest</span>
            naszą pasją</h2>

    </hgroup>

        <button><a href="#onas">Zobacz nasz salon</a></button>
        <button class="button1" sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj sie</a></button>
        <button class="button1" sec:authorize="isAuthenticated()"><a th:href="@{/reservation/addReservation}">Zarezerwuj usluge</a></button>

    <img th:src="@{/images/brunetka.jpg}" alt="Zdięcie Salon kosmetyczny Nowa WySpa">

    <div class="burger">
        <i class="fas fa-bars show active "></i>
        <i class="fas fa-times active"></i>
    </div>
    <aside class="active">
        <nav>Menu</nav>
        <ul>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Sing out</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/update/{id} (id = ${user.id})}">Update</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/reservation/userReservation}">My Reservation</a>
            </li>
            <li>
                <a href="#onas">
                    O nas
                </a>
            </li>
            <li>
                <a href="#uslugi">
                    Usługi
                </a>
            </li>
            <li>
                <a href="#promocja">
                    Promocyjne dni
                </a>
            </li>
            <li>
                <a href="#cenniki">
                    Cennik
                </a>
            </li>
            <li>
                <a href="#galeria">
                    Galeria
                </a>
            </li>
            <li>
                <a href="#con">
                    Kontakt
                </a>
            </li>
        </ul>
    </aside>
</header>

<section id="onas">
    <section class="features clearfix">
        <div class="feature">
            <img th:src="@{/images/SalonNowaWyspa2.jpg}" alt="Oferta salonu kosmetycznego">
            <h2>Salon kosmetyczny "Nowa WySpa"</h2>
            <p class="description">Położony jest na ulicy Długiej w Zgierzu, to nie tylko centrum miasta,ale także centrum urody i zdrowia. W naszym gabinecie możesz liczyć na fachowe doradztwo i opiekę ekspertów. Każdy zabieg w naszym gabinecie to niezwykłe doświadczenie, które chce się przeżywać na nowo. Gabinet kosmetyczny "Nowa WySPA powstał z wizją budowania długotrwałych relacji z Klientami, dlatego cieszymy się, gdy Ci z Państwa, którzy przyszli do nas pierwszy raz, tak chętnie umawiają się na kolejną wizytę.</p>

        </div>

        <div class="feature">
            <img th:src="@{/images/SalonNowaWyspa3.jpg}" alt="Oferta salonu kosmetycznego">
            <h2>Bezpieczeństwo zabiegów</h2>
            <p class="description">Podczas zabiegów korzystamy z materiałów jednorazowych (igły, czepki, ręczniki itp.). W przypadku rzeczy używanych wielokrotnie (cążki, nożyczki, pęsety, frezy) wszystko STERYLIZUJEMY W AUTOKLAWIE.Sterylizacja narzędzi w autoklawie to jedyny skuteczny sposób, by przygotować je do użycia w trakcie zabiegu. Każda inna metoda (sterylizator kulkowy, myjka ultradźwiękowa) jest dezynfekcją i nie zapewnia Pacjentowi całkowitego bezpieczeństwa. Wykonywanie zabiegów niesterylnymi narzędziami stanowi zagrożenie dla zdrowia (Pacjentowi grozi zarażenie się wirusem HIV, WZW, brodawczakami czy grzybicą).</p>

        </div>

        <div class="feature">
            <img th:src="@{/images/SalonNowaWyspa4.jpg}">
            <h2>Wykorzystujemy wysokiej jakości kosmetyki</h2>
            <p class="description">Skóra każdego człowieka jest inna i wyjątkowa. Dlatego nie ma pewności, że dany gotowy schemat zabiegowy, narzucony przez firmy kosmetyczne, będzie odpowiedni właśnie dla Ciebie. Korzystając z informacji uzyskanych podczas wywiadu oraz wiedzy i wieloletniego doświadczenia, potrafimy precyzyjnie określić potrzeby Twojej skóry. Na tej podstawie tworzymy indywidualne programy pomagające rozwiązać każdy problem ze skórą. W razie potrzeby konsultujemy się z lekarzem dermatologiem.</p>

        </div>

    </section>
</section>
<section id="uslugi" class="portfolio">
    <h1>Usługi jakie świadczymy</h1>
    <div class="project clearfix">
        <div class="web">
            <img th:src="@{/images/glowna.png}" alt="portfolio przykład 1">
        </div>
        <div class="about">
            <h2>Zabiegi na twarz</h2>
            <p>- Microdermabrazja</p>
            <p>- Peeling kawitacyjny</p>
            <p>- Sonoforeza</p>
            <p>- BIO-lift</p>
            <p>- Mezoterapia mikroigłowa</p>
            <p>- Złuszczanie kwasami</p>
            <p>- Oczyszczanie manualne</p>
        </div>
    </div>
    <div class="project clearfix">
        <div class="web">
            <img th:src="@{/images/cialo-balsam.jpg}" alt="portfolio przykład 2">
        </div>
        <div class="about">
            <h2>Zabiegi na ciało</h2>
            <p>- Lipokawitacja</p>
            <p>- Microdermabrazja</p>
            <p>- Ultradzwięki</p>
            <p>- BIO-lift</p>
        </div>
    </div>
    <div class="project clearfix">
        <div class="web">
            <img th:src="@{/images/paznokcie}"  alt="portfolio przykład 3">
        </div>
        <div class="about">
            <h2>Manicure / Pedicure</h2>
            <p>- Hybrydowy</p>
            <p>- Tradycyjny</p>
            <p>- Japoński</p>
            <p>- Biologiczny</p>
        </div>
    </div>
    <div class="project clearfix">
        <div class="web">
            <img th:src="@{/images/IPl.jpg}" alt="portfolio przykład 4">
        </div>
        <div class="about">
            <h2>Laser IPL</h2>
            <p>- Fotoepilacja</p>
            <p>- Fotoodmładzanie</p>
            <p>- Usuwanie zmian barwnikowych</p>
            <p>- Redukcja rumienia (naczynek)</p>
            <p>- Leczenie trądziku</p>
            <p></p>
        </div>
    </div>
</section>
<section id="promocja" class="slogan">
    <div class="bg">
        <h1>Promocyjne dni</h1>
        <p class="text">Poniedziałek</p>
        <p class="promotion">Zabieg parafinowy na dłonie - 30 zł</p>
        <p class="text">Wtorek</p>
        <p class="promotion">Manicure - 25 zł</p>
        <p class="text">Środa</p>
        <p class="promotion">Zabieg pielęgnacyjny twarzy - 50 zł</p>
        <p class="text">Czwartek</p>
        <p class="promotion">Manicure japoński - 50 zł</p>
        <p class="text">Piątek</p>
        <p class="promotion">Fototerapia - 60 zł</p>
    </div>
</section>
/*
<section id="cenniki" class="cennik">
    <div class="ceny" th:each="category : ${categories}">

        <h1>Ceny usług kosmetycznych</h1>

        <h2 th:text="${category.name}"></h2>
        <p class="usługa" th:each="subcategoty : ${category.subCategoryList}" th:text="${subcategoty.name} + ' - ' + ${subcategoty.price} + 'zł'"></p>
    </div>
</section>

<section id="galeria" class="galeria clearfix">
    <h1>Nasz salon w którym :</h1>
    <div class="item">
        <p>Kochamy to co robimy</p>
    </div>
    <div class="item">
        <p>Jesteś bezpieczna</p>
    </div>
    <div class="item">
        <p>Poczujesz się wyjątkowo</p>
    </div>
    <div class="item">
        <p>Słuchamy Cię</p>
    </div>
</section>
<section id="con" class="contact">
    <h1>Skontaktuj się z nami</h1>
    <div class="wrap clearfix">

        <form>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d616.0925038380332!2d19.420552829257122!3d51.85419889873085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bb67659e90187%3A0x9aeed5b48a1a5981!2sNowa%20Wyspa.%20Us%C5%82ugi%20kosmetyczne.%20Janiak%20E.!5e1!3m2!1spl!2spl!4v1571245762977!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </form>
        <div class="socials">
            <div class="social clearfix"><img th:src="@{/images/contact1.png}"  alt="kontakt"><span>nowa.wyspa@gmail.com</span></div>
            <div class="social clearfix"><img th:src="@{/images/contact2.png}" alt="kontakt"><span>518 418 798</span></div>
            <div class="social clearfix"><img th:src="@{/images/contact3.png}" alt="kontakt"><span>Salon kosmetyczny Nowa Wyspa</span></div>


        </div>

    </div>


</section>
<footer>Salon kosmetyczny Nowa WySPA, project Dawid, Vlad, Andrzej &copy;</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}" src="../static/js/script.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>
