<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Rejestracja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="StyleRegister.css">

</head>

<body>
<div class="kontener">
    <form id="login">
        <div class="header">
            <h3>Zarejestruj się</h3>
            <p>Wypelnij pola aby sie zarejestrować</p>
        </div>
        <div class="line"></div>
        <div class="inputs">
            <input type="imie" placeholder="Imie" autofocus />
            <input type="nazwisko" placeholder="Nazwisko" autofocus />
            <input type="email" placeholder="Adres email" autofocus />
            <input type="powtorzEmail" placeholder="Powtórz email" autofocus />
            <input type="telefon" placeholder="Numer telefonu" autofocus />
            <input type="haslo" placeholder="Haslo" autofocus />
            <input type="powtorzHaslo" placeholder="Powtórz Haslo" autofocus />

            <a id="przycisk" href="#">Zarejestruj się</a>

        </div>
    </form>
</div>


<footer> Project designers Vlad, Andrzej, Dawid &copy;</footer>
</body>

</html>